.global-content{
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 15px;
}

/* Ensure default page text is white unless specifically overridden */
html, body {
    color: #fff;
}
.main_body_div_page{
    background-color: rgba(255, 255, 255, .15);  
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}
.bg_ig{
    position: relative;
  width: 100%;
}
.center_div{
    
display: flex;
justify-content: center; /* Horizontal alignment */
align-items: center; /* Vertical alignment */
height: 100vh; /* Full viewport height */
}
