<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_main.css') }}">
</head>
<body>
    <div class="global-content">
        <div class="main_body_div_page">
            <h1 class="main_page_h1">Welcome to Momboard!</h1>
            <p class="main_page_p">Your personal dashboard for everything mom-related.</p>
            <iframe src="https://free.timeanddate.com/clock/ia55deg7/n899/fs32/fcfff/tt0/tw1/td1/th2/ts1/tb4" frameborder="0" width="375" height="76" sandbox="allow-scripts"></iframe>
        </div>
    </div>
</body>
</html>
